<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64690542327-gjn7l6vh7amt66nkbtp1v6hiv5ka0qht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64690542327-gjn7l6vh7amt66nkbtp1v6hiv5ka0qht</string>
	<key>API_KEY</key>
	<string>AIzaSyBHb699y2JQqndvXQ-KOYp9WbquPolgNdc</string>
	<key>GCM_SENDER_ID</key>
	<string>64690542327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vgts.asset.assetManagement</string>
	<key>PROJECT_ID</key>
	<string>asset-management-8fa9d</string>
	<key>STORAGE_BUCKET</key>
	<string>asset-management-8fa9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64690542327:ios:77455cbd7558434bc4a5f2</string>
</dict>
</plist>